{{- if .Values.cronJobs.enabled -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "qfieldcloud.fullname" . }}-cron
  labels:
    {{- include "qfieldcloud.labels" . | nindent 4 }}
    app.kubernetes.io/component: cron
spec:
  schedule: {{ .Values.cronJobs.schedule | quote }}
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            {{- include "qfieldcloud.selectorLabels" . | nindent 12 }}
            app.kubernetes.io/component: cron
        spec:
          serviceAccountName: {{ include "qfieldcloud.serviceAccountName" . }}
          containers:
            - name: cron
              image: "{{ .Values.cronJobs.image.repository }}:{{ .Values.cronJobs.image.tag }}"
              imagePullPolicy: {{ .Values.cronJobs.image.pullPolicy }}
              command:
                - python
                - manage.py
                - runcrons
              env:
                - name: DJANGO_ALLOWED_HOSTS
                  value: {{ .Values.django.settings.allowedHosts | quote }}
                - name: DJANGO_SETTINGS_MODULE
                  value: {{ .Values.django.settings.settingsModule | quote }}
                - name: SECRET_KEY
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "qfieldcloud.fullname" . }}-django
                      key: secret-key
                - name: DEBUG
                  value: {{ .Values.django.settings.debug | quote }}
                - name: ENVIRONMENT
                  value: {{ .Values.django.settings.environment | quote }}
                - name: SENTRY_DSN
                  value: {{ .Values.django.sentry.dsn | quote }}
                - name: SENTRY_RELEASE
                  value: {{ .Values.django.sentry.release | quote }}
                - name: SENTRY_ENVIRONMENT
                  value: {{ .Values.django.settings.environment | quote }}
                - name: SENTRY_SAMPLE_RATE
                  value: {{ .Values.django.sentry.sampleRate | quote }}
                - name: POSTGRES_DB
                  value: {{ .Values.database.name | quote }}
                - name: POSTGRES_USER
                  value: {{ .Values.database.user | quote }}
                - name: POSTGRES_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "qfieldcloud.fullname" . }}-database
                      key: password
                - name: POSTGRES_HOST
                  value: {{ .Values.database.host | quote }}
                - name: POSTGRES_PORT
                  value: {{ .Values.database.port | quote }}
                - name: POSTGRES_SSLMODE
                  value: {{ .Values.database.sslMode | quote }}
                - name: STORAGE_ACCESS_KEY_ID
                  value: {{ .Values.django.storage.accessKeyId | quote }}
                - name: STORAGE_SECRET_ACCESS_KEY
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "qfieldcloud.fullname" . }}-storage
                      key: secret-access-key
                - name: STORAGE_BUCKET_NAME
                  value: {{ .Values.django.storage.bucketName | quote }}
                - name: STORAGE_REGION_NAME
                  value: {{ .Values.django.storage.regionName | quote }}
                - name: STORAGE_ENDPOINT_URL
                  value: {{ .Values.django.storage.endpointUrl | quote }}
                - name: STORAGES
                  value: {{ .Values.django.storage.type | quote }}
                - name: STORAGES_PROJECT_DEFAULT_STORAGE
                  value: {{ .Values.django.storage.projectDefaultStorage | quote }}
                - name: GEODB_HOST
                  value: {{ .Values.geodatabase.host | quote }}
                - name: GEODB_PORT
                  value: {{ .Values.geodatabase.port | quote }}
                - name: GEODB_USER
                  value: {{ .Values.geodatabase.user | quote }}
                - name: GEODB_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "qfieldcloud.fullname" . }}-geodatabase
                      key: password
                - name: GEODB_DB
                  value: {{ .Values.geodatabase.name | quote }}
                - name: QFIELDCLOUD_SUBSCRIPTION_MODEL
                  value: {{ .Values.django.settings.subscriptionModel | quote }}
                - name: QFIELDCLOUD_AUTH_TOKEN_EXPIRATION_HOURS
                  value: {{ .Values.django.settings.authTokenExpirationHours | quote }}
                - name: QFIELDCLOUD_USE_I18N
                  value: {{ .Values.django.settings.useI18n | quote }}
                - name: QFIELDCLOUD_DEFAULT_LANGUAGE
                  value: {{ .Values.django.settings.defaultLanguage | quote }}
                - name: QFIELDCLOUD_DEFAULT_TIME_ZONE
                  value: {{ .Values.django.settings.defaultTimeZone | quote }}
                - name: QFIELDCLOUD_QGIS_IMAGE_NAME
                  value: {{ .Values.qgis.image.repository }}:{{ .Values.qgis.image.tag }}
                - name: QFIELDCLOUD_HOST
                  value: {{ (index .Values.ingress.hosts 0).host | quote }}
              resources:
                {{- toYaml .Values.cronJobs.resources | nindent 16 }}
          restartPolicy: OnFailure
{{- end }} 